@model IEnumerable<aspnet_config.Models.User>
@{
    ViewBag.Title = "Found by email";
}
<a>@TestClass.TestStr</a>
<table class="table">
    @foreach (var item in Model)
    {
        if (item.Email_User.Contains(TestClass.TestStr))
        {
            <tr>
                <td>@item.Id_User</td>
                <td>@item.Email_User</td>
                <td>@item.Name_User</td>
                <td>@item.Surname_User</td>
                <td>@item.About_User</td>
                <td>@item.Ban_User</td>
                <td>
                    <a asp-action="DetailsProfilePost" asp-controller="Home" asp-route-id="@item.Id_User">Details</a>
                </td>
            </tr>
        }
    }
</table>